/*Main Rules*/
body{
	background-color: #F4f4f4;
	font-size: 16px;
	font-family: Arial
}
.asterisk{
	position: absolute;
	right: 0;
	top: 5px;
	right: 30px;
	color: #f00;
	font-size: 25px
}
.fa-low-vision{
	position: absolute;
	top: 10px;
    right: 46px;
}
/*End Rules*/

/*Start Login Form*/
.login{
	width: 500px;
	margin: 100px auto;
}
.login h4, h1{
	color: #333;
	font-family: 'Lobster', cursive;
	margin-bottom: 20px;
    font-size: 65px;
}
.login .form-control{
	background-color: #E4E4E4
}
.login input{
	margin-bottom: 10px;
}
.login .btn{
	background-color: #008dde
}

/*End Login Form*/
/*Start Dashboard Page*/
.home-stats .stat{
	color: #fff;
	border: 1px solid #CCC;
	padding: 20px;
	font-size: 15px;
	border-radius: 10px
}
.home-stats .stat a{
	color: #fff
}
.home-stats .stat a:hover{
	text-decoration: none
}
.home-stats .st-members{
	background-color: #eb4d4b
}
.home-stats .st-pending{
	background-color: #4834d4
}
.home-stats .st-items{
	background-color: #e056fd
}
.home-stats .st-comments{
	background-color: #22a6b3
}

.home-stats .stat span{
	display: block;
	font-size: 50px
}
.latest{
	margin: 40px;
}
.latest .latest-users{
	margin-bottom: 0
}
.latest .latest-users li{
	padding: 13px 18px 12px 10px;
	overflow: hidden;
}
.latest .latest-users li:nth-child(even){
	background: #eee;
}
.latest .latest-users li .btn{
	padding: 2px 8px;
	margin-left: 10px
}
/*End Dashboard Page*/
/*****Start Bootsrap Edits****/
.navbar{
	border-radius: 0;
	margin-bottom: 0
}
.nav> li> a,
.navbar-brand{
  padding: 15px 12px
}
.navbar-brand{
	font-size: 2em
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus,
 .navbar-inverse .navbar-nav>.open>a:hover, 
 .dropdown-menu{
background-color: #2e86de
}
.dropdown-menu{
	font-size: 1em;
	min-width: 180px;
	padding: 0
}
.dropdown-menu>li>a{
	color: #fff;
	padding: 10px 15px
}
.form-control{
	position: relative;
}
.main-table{
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	-o-box-shadow: 0 3px 10px #ccc;
	box-shadow: 0 3px 10px #ccc
}
.main-table tr th{
	background-color: #333;
	color: #fff;
	text-align: center
}
.main-table td{
	background-color: #fff;
	vertical-align: middle !important;
}
.main-table .btn{
	padding: 3px 10px
}
/*****End Bootsrap Edits****/
