/*Main Rules*/
body{
	background-color: #F4f4f4;
	font-size: 16px;
	font-family: Arial
}
.asterisk{
	position: absolute;
	right: 0;
	top: 5px;
	right: 30px;
	color: #f00;
	font-size: 25px
}
.fa-low-vision{
	position: absolute;
	top: 10px;
    right: 46px;
}
textarea.form-control{
	resize: none;
	height: 125px;
    border: 1px solid #22222270;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
    
}
.empty-message{
	padding: 10px;
	background: #fff;
	margin: 10px 0;
	border-left: 5px solid green;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
/*End Rules*/

/*Start Login Form*/
.login{
	width: 500px;
	margin: 100px auto;
}
.login h4, h1{
	color: #333;
	font-family: 'Lobster', cursive;
	margin-bottom: 20px;
    font-size: 65px;
}
.login .form-control{
	background-color: #E4E4E4
}
.login input{
	margin-bottom: 10px;
}
.login .btn{
	background-color: #008dde
}

/*End Login Form*/
/*Start Dashboard Page*/
.home-stats .stat{
	color: #fff;
	border: 1px solid #CCC;
	padding: 20px;
	font-size: 15px;
	border-radius: 10px;
	overflow: hidden;
}
.home-stats .stat a{
	color: #fff;
	position: relative;
}
.home-stats .stat a:hover{
	text-decoration: none
}
.home-stats i{
    font-size: 70px;
    position: absolute;
     top: 55px;
    right: 26px;


}
.home-stats .st-members{
	background-color: #eb4d4b
}
.home-stats .st-pending{
	background-color: #4834d4
}
.home-stats .st-items{
	background-color: #e056fd
}
.home-stats .st-comments{
	background-color: #22a6b3
}
.home-stats .stat h3{
	    color: #fdcb6e;
    font-family: Lobster; 
    margin-top: 7px;

}
.home-stats .stat span{
	display: block;
	font-size: 50px;
	color: #2d3436;
    font-family: Lobster;
    padding-right: 17%
}
.latest{
	margin: 40px;
}
.latest .toggle-show{
	cursor: pointer;
}
.latest .toggle-show:hover{
color: #F00
}
.latest .latest-data{
	margin-bottom: 0
}
.latest .latest-data li{
	padding: 13px 18px 12px 10px;
	overflow: hidden;
}
.latest .latest-data li:nth-child(even){
	background: #eee;
}
.latest .latest-data li .btn{
	padding: 2px 8px;
	margin-left: 10px
}
.latest .comment-box{
	margin: 5px 0 10px;
	overflow: hidden
}
.latest .comment-box .comment-n{
	float: left;
	position: relative;
	margin-right: 20px;
	width: 80px;
	text-align: center;
	top: 9px;
}
.latest .comment-box .comment-c{
	width: calc(100% - 100px);
	background-color: #EEE;
	padding: 10px;
	position: relative;
	float: right;
	font-style: italic;

}
.latest .comment-box .comment-c:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	border-style: solid;
	border-color: transparent #EEE transparent transparent;
	height: 0;
	width: 0;
	border-width: 15px;
	top: 5px;
	left: -29px
}
.latest .comment-box .comment-c .btn{
	font-style: normal
}
/*End Dashboard Page*/
/*Start Category Page*/
.categories{
	padding: 0
}
.categories .manage-order a , 
.categories .manage-order span{
	color: #888;
	text-decoration: none;
	cursor: pointer;
}
.categories .manage-order a.active,
.categories .manage-order span.active{
	color: #f00;
	font-weight: bold
}
.categories .ordering{
	margin-right: 6%
}
.categories .panel{
margin-top: 10px;
}
.categories .cat{
	margin: 0 0 10px;
	padding: 0px 15px;
	overflow: hidden;
	position: relative;
}
.categories .cat h3{
	cursor: pointer;
	margin: 0;
	font-family: 'Balsamiq Sans', cursive;
    color: #2c3a47;
}
.categories .cat .full-view p{
	margin: 10px 0;
	color: #707070b5;
    font-style: italic;
    font-size: 15px;
}
.categories .cat .cat-hidden,
 .categories .cat .cat-comments{
	background: #eee;
	color: #8e7c7c;
	border-radius: 10px;
	margin-right: 5px;
	padding: 5px 10px;
	font-size: 14px
}
.categories .cat .cat-comments{
	background: #ffeaa7
}
.categories .cat .cat-ads{
	margin-right: 5px;
	font-size: 14px
}
.categories .cat .hidden-buttons{
	position: absolute;
	top: 15px;
	right: -170px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.categories .cat:hover{
	background-color: #fab1a024
}
.categories .cat:hover .hidden-buttons{
	right: 10px
}
.categories hr:last-of-type{
	display: none;
	margin-top: 0 !important;
	margin-bottom:0 !important
}
.sub-cat{
	background-color: #333;
    color: #9d9d9d;
    border-radius: 10px;
    padding: 7px;
    border: 1px solid #333;
    margin-right: 10px;
}
.sub-cat:hover{
	text-decoration: none;
	color: #9d9d9d
}
.sub-cat:before{
	content: '- '
}
/*End Category Page*/
/*****Start Bootsrap Edits****/
.navbar{
	border-radius: 0;
	margin-bottom: 0
}
.nav> li> a,
.navbar-brand{
  padding: 15px 12px
}
.navbar-brand{
	font-size: 2em
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus,
 .navbar-inverse .navbar-nav>.open>a:hover, 
 .dropdown-menu{
background-color: #2e86de
}
.dropdown-menu{
	font-size: 1em;
	min-width: 180px;
	padding: 0
}
.dropdown-menu>li>a{
	color: #fff;
	padding: 10px 15px
}
.form-control{
	position: relative;
}
.main-table{
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	-o-box-shadow: 0 3px 10px #ccc;
	box-shadow: 0 3px 10px #ccc
}
.main-table tr th{
	background-color: #333;
	color: #fff;
	text-align: center
}
.main-table th.date{
	  padding: 8px 20px !important;
}
.main-table td{
	background-color: #fff;
	vertical-align: middle !important;
}

.main-table .btn{
	padding: 3px 10px;
	margin-bottom: 5px
}
.panel-default>.panel-heading{
	color: #9d9d9d;
    background: #333;
    border-color: #333;
}
/*****End Bootsrap Edits****/
